{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>Котировки валют на {{ "now"|date("d.m.Y") }}</h2>
            </div>
        </div>
        <div class="row currency-container">
        <div class="col-12">

            {% if pagination %}
                <table class="table" style="table-layout: fixed">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Цифр. код</th>
                            <th scope="col">Букв. код</th>
                            <th scope="col">Единиц</th>
                            <th scope="col">Валюта</th>
                            <th scope="col">Курс</th>
                        </tr>
                    </thead>
                    <tbody>

                    {{ block("table", "table.html.twig") }}

                    </tr>

                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

            {% else %}
                <div class="col-12">
                    Не удалось получить курсы валют
                </div>
            {% endif %}

        </div>
    </div>
    </div>

{% endblock %}